 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{            /*Tipografia*/
    font-family: 'Open Sans';
}

.contenedor{                       /*Separacion*/
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{                     /*Se personalizan los titulos*/
    color: #ff00cc;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header{                       /*Se agrega el fondo*/
    width: 100%;
    height: 600px;
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(240, 50%, 40%, 0.644), hsla(312, 100%, 50%, 0.596)), url(../Curriculum.vs/Fondo2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, hsla(240, 50%, 40%, 0.644), hsla(312, 100%, 50%, 0.596)), url(../Curriculum.vs/Fondo2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size:auto;
    background-attachment: fixed;
    position: relative;
}

nav{                     /*Se agregan los botones*/
    text-align: right;
    padding: 30px 50px 0 0;
}
nav>a{           /*Se personalizan los botones*/
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav>a:hover{
    text-decoration: underline;
}
header.textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    }

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 40px;
    font-weight: 50;
    color: #fff;
}

/*Informacion Personal*/
.contenedor-sobre-nosotros{
        display:flex;
        justify-content:space 20px;
    }
.imagen-sobre-nosotros{
    width: 20%;
    margin-left: 200px;
}
.contenido-textos{
    width: 30%;
}

.contenido-textos h3{
margin-top: 20px;
margin-bottom: 5px;
margin-left: 100px;
}
.contenido-textos h2{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 100px;
    text-align: justify;
}