 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{            /*Tipografia*/
    font-family: 'Open Sans';
}

.contenedor{                       /*Separacion*/
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    
}

.titulo{                     /*Se personalizan los titulos*/
    color: #54abe6;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}
body{
    width: 100%;
    height: 600px;
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, hsla(312, 100%, 50%, 0.596), #b92b27), url(../Curriculum.vs/Fondo3.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, hsla(312, 70%, 33%, 0.445), #921c9686),url(../Curriculum.vs/Fondo3.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size:auto;
    background-attachment: fixed;
    position: relative;

    }
header{                       /*Se agrega el fondo*/
    width: 100%;
    height: 600px;
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(240, 50%, 40%, 0.644), hsla(312, 100%, 50%, 0.596)), url(../Curriculum.vs/Fondo2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, hsla(240, 50%, 40%, 0.644), hsla(312, 66%, 47%, 0.596)), url(../Curriculum.vs/Fondo2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
    background-attachment: fixed;
    position: relative;
}

nav{                     /*Se agregan los botones*/
    text-align: right;
    padding: 30px 50px 0 0;
}
nav>a{           /*Se personalizan los botones*/
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav>a:hover{
    text-decoration: underline;
    color:#fff
}
header.textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color:#fff
    
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color:#fff
    }

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 40px;
    font-weight: 50;
    color: #fff;
}

/*Informacion Personal*/

.contenedor-sobre-nosotros{
        display:flex;
        justify-content:space 20px;
        
    }
.imagen-sobre-nosotros{
    width: 20%;
    margin-left: 200px;
    margin-bottom: 300px;
}
.contenido-textos{
    width: 30%;
    color:#fff
}

.contenido-textos h3{
margin-top: 20px;
margin-bottom: 5px;
margin-left: 100px;
color:#fff
}
.contenido-textos h2{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 100px;
    text-align: justify;
    color:#fff
}

 /*Historial laboral*/

 .contenido-texto{
    display:flex;
    justify-content:space 20px;
    
 }

 .ImagenTrabajo{
    width: 12%;
    margin-left: 150px;
    margin-bottom: 500px;
   
}
 .TextoTrabajo{
    width: 30%;
    color:#fff
    
 }
 
.HistorialLaboral h3{
    
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 100px;
    color:#fff;
    
}
.HistorialLaboral h2{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 100px;
    color:#fff;
    text-align:center;
    
}

/*Formacion Personal*/
.formacion-cont{
    display:flex;
    justify-content:space 20px;
}

.ImagenEstudio{
    width: 12%;
    margin-left: 150px;
    margin-bottom: 300px;
    
}

.TextoEstudio{
    width: 30%;
    color:#fff
}

.Formacion h4{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 100px;
    color:#fff;

}
.Formacion h3{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 100px;
    color:#fff;
    
}

